# Prerequisites
*.d
/.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
/visualstudio/.vs
visualstudio/VS2015/Debug
visualstudio/VS2015/Release
visualstudio/VS2015/Final
*.iobj
*.pdb
*.ipdb
*.tlog
*.tlog
*.tlog
*.log
*.pdb
*.tlog
*.exp
*.idb
*.idb
*.pdb
visualstudio/VS2015/Debug/vc142.idb
visualstudio/VS2015/Debug/vc142.idb
visualstudio/VS2015/Release/vc142.pdb
*.idb
*.idb
visualstudio/VS2015/Debug/vc142.idb
visualstudio/VS2015/Debug/vc142.idb
visualstudio/VS2015/Release/vc142.pdb
visualstudio/VS2015/Release/visualstudio.log
